## Types of data
### Boolean

In [4]:
type(True)

bool

In [5]:
type(False)

bool

### Integers

In [6]:
type(0)

int

In [7]:
type(1)

int

In [9]:
type(-1)

int

### Floating point Numbers

In [10]:
type(1.0)

float

In [11]:
type(1.)

float

In [12]:
type(3.14159265)

float

In [13]:
type(314159e-5)

float

### Strings

In [15]:
type('Evam')

str

In [16]:
type('7')

str

# Variables

In [17]:
integer_variable = 420

### Updating variables

In [19]:
integer_variable = integer_variable + 100

## Functions

### Built - in Functions

Enter Number34
<class 'str'>

In [20]:
print('Hi I am Evam')

Hi I am Evam

In [23]:
name = 'Evam'
print('Hi I am ' + name)

Hi I am Evam

In [11]:
x = input("Enter Number")
print(type(x))

Enter Number4
<class 'str'>

In [24]:
name = input("What's your name? : ")
fav_snack = input("What's your faourite snack? : ")

What's your name? : Evam
What's your faourite snack? : Pizza

In [25]:
print("Hi " + name + ", would you like some " + fav_snack + "?")

Hi Evam, would you like some Pizza?

### Custom Functions

Now I want to point out the different parts of defining a function.

The first part of defining a function is def. Def is a keyword that stands for definition. It indicates to the computer that you're defining a function.<br>
Next is the name of the function. Make sure to come up with a name that's relevant to what the function is going to do. Then comes a pair of parenthesis, followed by a colon.<br>
Now, if your function needs to take input, you should come up with a name to represent the input and place it inside these parenthesis. If your function does not need to take input, you should just leave the parenthesis empty, and on the next line be sure to indent by using tab.<br>
Now comes the body of your function. The body is where you write out the procedure your function needs to perform, and every line of the body must be indented.<br>

In [27]:
# A function that displays "I am a working function"
# A function that takes input int and print its square

In [29]:
def return_square(x):
    print(x * x)

In [30]:
return_square(65)

4225

In [31]:
return_square(45.6)

2079.36

 Now, you might be wondering what's the difference between X and 65. Well, X is essentially a variable. In the definition of retun_square, X represents any number that add five can take as input.

## Modules

In [32]:
import calendar

In [36]:
my_date = calendar.month(2015, 3)

In [38]:
print(my_date)

     March 2015
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [39]:
import math

In [40]:
num = math.sqrt(81)

In [41]:
num

9.0

In [42]:
import random

In [43]:
x = random.randint(0, 200)

In [44]:
x

44

### Lists

When you're programming, you'll often need to store some data to use throughout your program. That could be individual pieces of data and collections of data.<br>
A list has a specific order and the items in the list can be changed whenever you want. Square brackets are used to enclose the items in the list and commas are used to separate the items from each other.

In [50]:
names = ['Evam', 'Varenyam' ,'Nistha']

In [51]:
names

['Evam', 'Varenyam', 'Nistha']

In [52]:
names.append('Astha')

In [53]:
names

['Evam', 'Varenyam', 'Nistha', 'Astha']

In [55]:
names.index('Evam')

0

### Functions you can try yourselves

* names.pop()
* names.index('Nistha')
* len(names)

In [35]:
listA = [5, 10, 150, 20]

In [36]:
listA[1]

10

In [37]:
# Update elements
listA[2] = 121

In [38]:
listA

[5, 10, 121, 20]

In [39]:
my_list = ['A string', 69]

### Tuple

In [1]:
child1 = ("Abhishek", "Jupiter Hospital", "Pune", "Maharashtra", "India", "07/29/1998", "1930")

In [2]:
type(child1)

tuple

In [3]:
print(child1)

('Abhishek', 'Jupiter Hospital', 'Pune', 'Maharashtra', 'India', '07/29/1998', '1930')

In [4]:
# Accessing is done same as list

name = child1[0]

In [6]:
child1 + child1

('Abhishek',
 'Jupiter Hospital',
 'Pune',
 'Maharashtra',
 'India',
 '07/29/1998',
 '1930',
 'Abhishek',
 'Jupiter Hospital',
 'Pune',
 'Maharashtra',
 'India',
 '07/29/1998',
 '1930')

In [58]:
# Can't reassign 
child1[0] = 'Evam'

TypeError: 'tuple' object does not support item assignment

### Statement
Python is basically english and will respond to any ambiguous statement with a Boolean

In [8]:
5 < 3

False

In [9]:
3 < 10 and 3 > 1

True

## Conditional Statement

### If - else

In [13]:
n = input("Enter number from -10 to 10") # Default is str
n = int(n)
if n < 5:
    print("Chosen number is less than 5")

Enter number from -10 to 10-2
Chosen number is less than 5

In [15]:
# What to do if condition is not met?
n = input("Enter number from -10 to 10") # Default is str
n = int(n)
if n < 5:
    print("Chosen number is less than 5")
else:
    print("Chosen Number is not less than 5")

Enter number from -10 to 107
Chosen Number is not less than 5

In [16]:
def minimum(x,y):
    if x < y:
        return x
    else:
        return y

In [17]:
print(minimum(3,7))

3

In [18]:
# What to do if you need to compare with more than one else clauses

def pet(pet_name):
    if pet_name == 'cat':
        print('Cat Person')
        
    elif pet_name == 'dog':
        print('Cat Person')
        
    else:
        print('None')

In [19]:
pet('cat')

Cat Person

## Iteration
### For - loop

In [33]:
list = ['Evam', 'Varenyam', 'Nistha']
for i in list:
    print(i)

Evam
Varenyam
Nistha

In [57]:
# Now I is the loop variable, and it helps keep track of which repetition the loop is in.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Range is a built-in function in Python that takes in the following inputs in the following order. An optional starting number, a required ending number, and an optional step size. When a starting number is not provided, range defaults to starting with zero. When a step size is not provided, range defaults to using a step size of one. The ending number must be provided and range excludes this ending number.

In [62]:
for i in range(0, 30, 3):
    print(i)

0
3
6
9
12
15
18
21
24
27

### While

In [65]:
i = 5
while i < 10:
    print(i, 'is less than 10')
    i += 1

5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10